[v-cloak]{
	display: none!important;
}
table{
	border:1px solid #e9e9e9;
	border-collapse: collapse;/*合并边框线*/
	border-spacing:0; /*表格 边框之间的 距离*/
	/*empty-cells: show;表格中空的单元格显示样式   默认是显示的*/
}
td,th{
	padding:8px 16px;
	border:1px solid #e9e9e9;
	text-align:left;
}
th{
	background:#f7f7f7;
	color:#5c6b77;
	font-weight: 600;
	white-space: nowrap;/*段落中的文本不进行换行：*/
}